<!--
<h1>{{$ctrl.title | uppercase | wiecej:10:15}}</h1>

<button ng-click="$ctrl.onTitleClick(); $ctrl.title ='zero'">reset</button>

<input ng-model="$ctrl.title" />
<div ng-if="$ctrl.title.length === 0">
    za krótka nazwa
</div>

<table>
    <tr>
        <td>id</td>
        <td>nazwa</td>
    </tr>
    <tr ng-repeat="product in $ctrl.products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
    </tr>

</table>
-->

<section class="container">
    <page-header></page-header>

    <product-list class="row">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </product-list>

    <page-footer></page-footer>
</section>
