<div class="card small blue-grey darken-1">
    <div class="card-content white-text">
        <h6 class="card-title">{{ $ctrl.product.name }}</h6>
        <img
                class="circle left"
                ng-src="{{ $ctrl.product.image }}" alt=""/>
        <p>{{ $ctrl.product.description }}</p>
    </div>
    <div class="card-action">
        <button class="btn" ng-click="$ctrl.$addToCart($ctrl.product); $event.stopPropagation();">kup</button>
        <button class="btn" ng-click="$ctrl.onDelete({$product: $ctrl.product}); $event.stopPropagation()">usuń</button>
        <input ng-model="$ctrl.amount" type="number" width="50px"/>
    </div>
</div>